{% extends "base.html" %}

{% block title %}About - {% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-6">
          <h1> About</h1>
           <p class="lead">This site is to document our journey across the world! 9/29/2014</p>
        </div>
         <div class="col-lg-6">
             <h1>Contact</h1>
             <p class="lead">Andy</p>
         </div>
        <div class="col-lg-12">
             <h1>Version 1.1</h1>
             <p class="lead">This is release 1.0 of the project, obviously a lot needs to be worked on!</p>
         </div>
    </div>
</div>


{% endblock %}