{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %}

        <div class="jumbotron">
                <h1>Our Map</h1>
                <p> Click on any states to see if we've been there!</p>
                <a href="/about" class="btn btn-primary" role="button">Learn more >></a>
            </div>
        <div id="map" > </div>



{% endblock %}

{% block scripts %}

  <script src="/js/raphael-min.js"></script>
  <script src="/js/jquery.usmap.js"></script>
  <script src="/js/color.jquery.js"></script>

        <script>
            $(document).ready(function() {
                 $('#map').usmap({

                 stateHoverAnimation: 200,
                 showLabels: true,

                //click function
                click: function(event, data) {

                }
                 });

            });
        </script>

{% endblock %}